<div class="container">
  <div class="card-columns">
    <% @my_pins.each do |my_pin| %>
      <div class="card">
        <%= image_tag my_pin.image.url(:index), class: "card-img-top" %> 
          <div class="card-block">
            <h4 class="card-title"><%= my_pin.title %></h4>
            <p class="card-text"><%= my_pin.description %></p>
            <%= link_to "see my pins", my_pins_path(my_pin), class: "btn btn-info" %>
          </div>
      </div> 
    <% end %>
  </div>
</div>          
       
